
# Pakku
pakku.jar
build/

# Client data
usernamecache.json
usercache.json
servers.dat
options.txt

# Extensions
**/*.log
**/*.gz
**/*.DS_Store

# .minecraft
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
logs/
crash-reports/
icon.png